{#
/**
 * @file
 * Template for displaying a pretix date.
 *
 * Available variables:
 * - variables: An array containing data about the pretix date.
 */
#}
<div>
  {{ variables.location }}
  {{ variables.address }}
  {{ variables.time_from }}
  {{ variables.time_to }}
</div>
