{#
/**
 * @file
 * Template for displaying pretix data for an event node.
 *
 * Available variables:
 * - data: An array containing data about the pretix date.
 */
#}
<div class="pretix-event-data">
  {% set pretix_event_url = data.data.pretix_event_url|default(false)%}
  {% if pretix_event_url %}
    <a class="pretix pretix-event-url" href="{{ pretix_event_url }}">{{ 'Show event in pretix' }}</a>
  {% endif %}

  {% set pretix_event_shop_url = data.data.pretix_event_shop_url|default(false)%}
  {% if pretix_event_shop_url %}
    <a class="pretix pretix-event-shop-url" href="{{ pretix_event_shop_url }}">{{ 'Show event in pretix shop' }}</a>
  {% endif %}
</div>
